* {
    box-sizing: border-box;
}

header {
    height: 200px;
    width: 100%;
    margin: 20px 0;
    border: 5px solid black;
}

.purple-rec {
    height: 65%;
    width: 3%;
    float: left;
    background: purple;
    margin: 60px 0 0 5px;
}

.green-rec {
    height: 90%;
    width: 30%;
    float: left;
    background: green;
    margin: 10px 0 0 40px;
}

.blue-circle {
    height: 170px;
    width: 170px;
    background: skyblue;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    float: left;
    margin: 8px 0 0 40px;
}

section {
    height: 250px;
    width: 100%;
    margin: 20px 0;
    border: 5px black dotted;
}

.pale-yellow-rec {
    height: 70%;
    width: 95%;
    margin: 30px auto;
    background: rgb(250, 245, 197);
    box-shadow: 8px 8px 8px rgb(61, 61, 61);

}

footer {
    height: 200px;
    width: 40%;
    margin: 20px auto;
    border: 1px rgb(197, 197, 197) solid;
    box-shadow: 2px 2px rgb(197, 197, 197);
}
#hello-friend {
    text-align: center;
    font-size: 26px;
    letter-spacing: 7px;
    margin: 80px 0;
    font-weight: bold;
    color: darkblue;
}